<form method="post" action="{{ path('app_login') }}">
    <div>
        <label for="username">Email</label>
        <input type="text" id="username" name="_username" required>
    </div>

    <div>
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="_password" required>
    </div>

    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>