{% block cv %}
	<section id="showcv">
		<div class="divButton">
			<button id="closeButton" onclick="closePopup()">x</button>
		</div>
		<div class="showTop">
			<img id="cv-image" src="" alt="{{ 'alt.image_of'|trans }}">
			<div class="showTopText">
				<h2 id="cv-nom"></h2>
				<h2 id="cv-prenom"></h2>
				<p>
					<strong>{% trans %}form.jobTitle{% endtrans %} :</strong>
					<span id="cv-profession"></span>
				</p>
				<p>
					<strong>Email :</strong>
					<span id="cv-email"></span>
				</p>
				<p>
					<strong>Téléphone :</strong>
					<span id="cv-telephone"></span>
				</p>
			</div>
			<div class="divDescription">
				<h3>{% trans %}form.description{% endtrans %}</h3>
				<p id="cv-description"></p>
			</div>
		</div>


		<div class="gridShowCv4">
			<div>
				<h3>{% trans %}header.skills{% endtrans %}</h3>
				<ul id="cv-competences"></ul>
			</div>
			<div>
				<h3>{% trans %}section.tools{% endtrans %}</h3>
				<ul id="cv-outils"></ul>
			</div>
			<div>
				<h3>{% trans %}section.languages{% endtrans %}</h3>
				<ul id="cv-langues"></ul>
			</div>
			<div>
				<h3>{% trans %}form.description{% endtrans %}</h3>
				<ul id="cv-loisirs"></ul>
			</div>
		</div>

		<div class="gridShowCv3">
			<div>
				<h3>{% trans %}section.training{% endtrans %}</h3>
				<ul id="cv-formations"></ul>
			</div>
			<div>
				<h3>{% trans %}section.proExperience{% endtrans %}</h3>
				<ul id="cv-exp-pro"></ul>
			</div>
			<div>
				<h3>{% trans %}section.acaExperience{% endtrans %}</h3>
				<ul id="cv-exp-uni"></ul>
			</div>
		</div>


	</section>

{% endblock %}
