@use "variables" as *;

header {
    background-color: $color-primaire;

    border-bottom: 3px solid black;
    position: sticky;
    top: 0;
    z-index: 8;
    @include small {
        padding: 0;
        background-color: $color-primaire;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include small {
            display: flex;
            flex-direction: column;
        }
        .navMenu {
            width: 15%;
            @include small {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
            .imgLogo {
                height: auto;
                width: 35%;
                padding-top: 10px;
                padding-left: 50px;
                @include small {
                    height: auto;
                    width: 13%;
                    padding-left: 10px;
                }
            }

            .imgMenu {
                background-color: $color-primaire;
                display: none;
                @include small {
                    display: block;
                    width: 10%;
                    margin-top: auto;
                    margin-bottom: auto;
                    background-color: $color-secondaire;
                }
            }
        }

        h2 {
            @include small {
                padding: 15px;
                font-size: 1.3em;
            }
        }

        .underline {
            text-decoration: underline;
        }
        .navDiva {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 15px;
            @include small {
                display: flex;
                flex-direction: column;
                text-align: center;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s ease-out;
            }
            a {
                margin: 30px;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.5s;
                @include small {
                    position: sticky;
                    top: 0;
                    z-index: 8;
                    padding: auto;
                    margin: auto;
                    margin-bottom: 10px;
                }
                &::after {
                    position: absolute;
                    content: "";
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: linear-gradient(to right, #83a4d4 0%, #b6fbff 51%, #83a4d4 100%);
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: transform 0.5s;
                }

                &:hover {
                    background: linear-gradient(to right, #83a4d4 0%, #b6fbff 51%, #83a4d4 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    font-weight: bold;
                    color: transparent;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: center;
                }
            }
        }

        .menu-ouvert {
            @include small {
                max-height: 500px;
            }
        }
    }
}
