$color-primaire: radial-gradient(circle, rgba(126, 195, 247, 1) 0%, rgba(126, 237, 133, 1) 100%);

$color-terciaire: #fd9630;
$color-secondaire: #2dbdb4;
$color-titre: #000000;
$color-texte: #4b4a4a;
$shadow: rgba(157, 157, 157, 0.495);

$color-button: linear-gradient(to right, #16222a 0%, #3a6073 51%, #16222a 100%);
@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}



@mixin titre{
    font-family: "Exo", sans-serif;
    color: $color-titre;
}

@mixin text{
    font-family: "Quicksand", sans-serif;
}

@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo-VariableFont_wght.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@mixin boxshadow {
    box-shadow: 3px 3px 3px $shadow;
}


$medium-width: 1024px;

@mixin small{
    @media (max-width: #{$medium-width - 1px}){
        @content;
    }
}

@mixin desktop{
    @media(min-width: #{$medium-width}){
        @content;
    }
}