@use "variables" as *;
.container {
    background-color: white;
    .section-title {
        font-size: 2.5em;
        margin-bottom: 15px;
        text-align: center;
    }

    .search-form {
        text-align: center;
        margin: 25px auto 15px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 50%;
            @include small {
                width: 90%;
            }
            div {
                display: flex;
                flex-direction: column;

                input {
                    padding: 10px 15px;
                    width: 90%;
                    border: 1px solid #ccc;
                    border-radius: 20px;
                    margin-right: 5px;
                    font-size: 1rem;
                    z-index: 3;
                    transition: border-color 0.3s ease;
                    margin-right: 15px;
                    
                    @include small {
                        width: 80%;
                    }

                    &:focus {
                        outline: none;
                        border-color: $color-secondaire;
                        box-shadow: 0 0 0 2px $color-secondaire;
                    }
                }

                #suggestions {
                    width: 24.7%;
                    display: flex;
                    flex-direction: column;
                    z-index: 2;
                    top: 20px;
                    padding: 0;
                    margin-top: -20px;
                    position: absolute;
                    max-height: 300px;
                    overflow-y: auto;
                    top: 100%;
                    background: white;
                    border-radius: 0 0 20px 20px;

                    @include small {
                        width: 56%;
                    }


                    li {
                        list-style: none;
                        border: 1px solid $color-secondaire;
                        &:last-child {
                            border-radius: 0 0 20px 20px;
                        }
                        &:first-child {
                           padding-top: 30px;
                        }
                        &:hover {
                            background: $color-secondaire;
                        }
                    }
                }
            }
            button {
                background: $color-button2;
                padding: 15px;
                border-radius: 30px;
                margin-left: 5px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                border: solid 1px bl;
                background-size: 200% auto;
                display: block;
                @include small {
                    width: 40%;
                }

                &:hover {
                    background-position: right center;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }

    .sectionExplo1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        padding: 20px;

        .cardProfil {
            flex: 1 1 calc(25% - 10px);
            display: flex;
            flex-direction: column;
            padding: 20px;
            background: white;
            border: 1px solid #ddd;
            border-left: 5px solid $color-secondaire;
            border-radius: 12px;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 5px $shadow;
            justify-content: space-between;
            .classTop {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    width: 25%;
                    height: auto;
                }
                .nameUser {
                    display: flex;
                    flex-direction: column;
                    p {
                        color: black;
                        font-size: 2em;
                    }
                }
            }
            .professionUserProfil {
                text-align: center;
                font-weight: bold;
                color: black;
                margin-bottom: 10px;
            }
            .lienRedirect {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
                margin-top: 15px;
                a {
                    margin: auto 10px;
                    position: relative;
                    text-decoration: none;
                    transition: 0.5s;
                    font-size: 1em;
                    white-space: nowrap;
                    &::after {
                        position: absolute;
                        content: "";
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: $color-button2;
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: transform 0.5s;
                    }

                    &:hover {
                        background: $color-button2;
                        -webkit-background-clip: text;
                        background-clip: text;
                        font-weight: bold;
                        color: transparent;
                        cursor: pointer;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: center;
                    }
                }
            }
        }
    }

    .pagination {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 20px;

        a {
            font-size: 24px;
            margin: 10px;
            &:hover {
                font-weight: bold;
            }
        }
        .active {
            font-size: 1.5em;
            color: $color-secondaire;
            font-weight: bold;
        }
    }
}

#showcv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    width: 50%;
    max-width: 90%;
    padding: 0px 30px 20px 30px;
    border-left: solid 7px $color-secondaire;
    .divButton {
        text-align: right;
        button {
            margin: 10px;
        }
    }

    div,
    p {
        font-size: 0.9em;
    }
    h3 {
        font-size: 1em;
    }

    .showTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        @include small {
            flex-direction: column;
        }
        img {
            width: 12%;
            height: auto;
            @include small {
                display: none;
            }
        }
        .showTopText {
            display: flex;
            flex-direction: column;
            width: 30%;
        }

        .divDescription {
            display: flex;
            flex-direction: column;
            width: 50%;
            @include small {
                width: 100%;
                margin-top: 10px;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .gridShowCv4 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        margin: 15px;
        @include small {
            margin: 0;
        }
    }
    .gridShowCv3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        @include small {
            display: none;
        }
        div {
            margin: 10px;
        }
    }
}
