@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-VariableFont_wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.css-sectionComp1 {
  background: #f7f7f7;
  padding: 50px 50px;
}
.css-sectionComp1 .titreSection {
  padding-bottom: 40px;
  padding-left: 50px;
}
.css-sectionComp1 .langages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.css-sectionComp1 .langages__langage {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.css-sectionComp1 .langages__titre {
  visibility: hidden;
}
.css-sectionComp1 .langages__progress {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 200px;
  width: 20px;
  background: #fff5c6;
  display: flex;
  flex-direction: column-reverse;
  visibility: hidden;
}
.css-sectionComp1 .langages__progress--bar {
  width: 100%;
  background: radial-gradient(circle, rgb(252, 222, 121) 36%, rgb(250, 174, 162) 100%);
  animation-duration: 2s;
  animation-name: progressup;
}
.css-sectionComp1 .langages__progress #java {
  height: 80%;
}
.css-sectionComp1 .langages__progress #python {
  height: 70%;
}
.css-sectionComp1 .langages__progress #htmlcss {
  height: 70%;
}
.css-sectionComp1 .langages__progress #plsql {
  height: 60%;
}
.css-sectionComp1 .langages__progress #js {
  height: 50%;
}
.css-sectionComp1 .langages__progress #php {
  height: 60%;
}
.css-sectionComp1 .langages__progress #c {
  height: 50%;
}
.css-sectionComp1 .langages__pourcentage {
  visibility: hidden;
  text-align: center;
}

@keyframes progressup {
  from {
    height: 0%;
  }
}
.css-sectionComp2 {
  background: radial-gradient(circle, rgb(126, 195, 247) 0%, rgb(126, 237, 133) 100%);
  padding: 75px;
  margin: 70px;
  border: 3px solid black;
  border-radius: 20px;
}
.css-sectionComp2 h2 {
  margin-bottom: 35px;
}
.css-sectionComp2 .zoneOutils {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.css-sectionComp2 .zoneOutils .outil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.css-sectionComp2 .zoneOutils .outil h3 {
  margin-bottom: 15px;
}
.css-sectionComp2 .zoneOutils .outil .outilImage {
  width: 30%;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(120, 120, 120, 0.495);
}

.css-sectionComp3 {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 50px;
}
.css-sectionComp3 .zoneLangues {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.css-sectionComp3 .zoneLangues .langue {
  background: #2dbdb4;
  box-shadow: 7px 5px 5px rgba(192, 240, 238, 0.9490196078);
  padding: 20px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}
.css-sectionComp3 .zoneLangues .langue p {
  text-align: center;
  margin-top: 10px;
}/*# sourceMappingURL=competences.css.map */