@use "variables" as *;

.sectionContact {
    padding: 70px;
    .h2Contact {
        padding-bottom: 30px;
    }
    .contactImg{
        width: 3%;
        height: auto;
        @include small {
            width: 20%;
            height: auto;
        }
    }
}
