@use "variables" as *;

* {
    margin: 0;
    @include text;
}

main {
    background: #f7f7f7;
}

h1 {
    font-size: 2.5em;
    @include titre;
    
}

h2 {
    font-size: 1.5em;
    @include titre;
}

h3 {
    font-size: 1.3em;
    font-style: italic;
    @include titre;
}

h4 {
    font-size: 1.3em;
    font-style: italic;
    font-weight: normal;
    font-style: italic;
    @include titre;
}

a {
    text-decoration: none;
    color:$color-texte;
    font-size: 1.1em;
}

p {
    width: 100%;
    color:$color-texte;
}

li {
    font-size: 1.1em;
    padding: 15px;
    color:$color-texte;

}

ul {
    margin-top: 20px;
    color:$color-texte;

}

header,
footer,
.sectionIndex2,
.css-sectionComp2,
.divExp {
    background-color: $color-secondaire;
}
