.bodymain {
    background: radial-gradient(circle, rgba(126, 195, 247, 1) 0%, rgba(126, 237, 133, 1) 100%);
    .headMain {
        background: rgba(255, 255, 255, 0);
        border: 0px;
        nav {
            display: flex;
            flex-direction: row;

            .imgLogo {
                height: auto;
            }
            .navDiva {
                overflow: visible;
                max-height: none;
                a {
                    margin-right: 20px;
                }
            }
        }
    }

    main {
        background: radial-gradient(circle, rgba(126, 195, 247, 1) 0%, rgba(126, 237, 133, 1) 100%);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-bottom: 60px;
        }
        form {
            display: flex;
            flex-direction: column;
            .alert {
                color: rgb(174, 30, 30);
                margin-top: 15px;
                text-align: center;
            }
            div {
                margin-top: 15px;

                .formNom {
                    margin-left: 15px;

                }

                .formAttr {
                    margin-left: 15px;
                }

                .checkboxClass {
                    margin-left: 15px;
                    
                }

                .radioClass {
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                }
                

                

                .formA {
                    font-size: 0.9em;
                    margin-top: 5px;
                }
            }
            .h1main {
                margin-top: 80px;
                margin-bottom: 40px;
            }
        }
    }

    .buttonMain {
        display: flex;
        margin: auto;
        padding: 15px 30px;
        margin-top: 30px;
        margin-bottom: 10px;
        background-image: linear-gradient(to right, #16222a 0%, #3a6073 51%, #16222a 100%);

        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;

        &:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }
    }
}
