.bodymain {
    background: radial-gradient(circle, rgba(126, 195, 247, 1) 0%, rgba(126, 237, 133, 1) 100%);
    .headMain {
        background-color: rgba(255, 255, 255, 0);
        border: 0px;
    }

    main {
        background: radial-gradient(circle, rgba(126, 195, 247, 1) 0%, rgba(126, 237, 133, 1) 100%);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .h1main {
            margin-top: 80px;
            margin-bottom: 40px;
        }

        .formNom {
            margin-left: 15px;
        }

        .formAttr {
            margin-top: 10px;
            margin-left: 15px;
        }

        .buttonMain {
            display: flex;
            margin: auto;
            padding: 15px 30px;
            margin-top: 60px;
            background-image: linear-gradient(to right, #16222a 0%, #3a6073 51%, #16222a 100%);

            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;

            &:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
            }
        }

        .formA {
            font-size: 0.9em;
            margin-top: 5px;
        }
    }
}
