@use "variables" as *;

.bodymain {
    .headMain {
        background: rgba(255, 255, 255, 0);
        border: 0px;
        background: $color-primaire;
        border-bottom: 3px solid black;

        nav {
            display: flex;
            flex-direction: row;

            .imgLogo {
                height: auto;
                @include small {
                    width: 10%;
                }
            }
            .navDiva {
                overflow: visible;
                max-height: none;
                a {
                    margin-right: 20px;
                }
            }
        }
    }
   
    .mainLogin {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        h1 {
            margin-bottom: 60px;
            margin-top: 30px;
        }
        form {
            text-align: center;
            display: flex;
            flex-direction: column;
            .alert {
                color: rgb(174, 30, 30);
                margin-top: 15px;
                text-align: center;
            }
            div {
                margin-top: 15px;

                .formNom {
                    margin-left: 15px;
                }

                .formAttr {
                    margin-left: 15px;
                }

                .checkboxClass {
                    margin-left: 15px;
                }

                .radioClass {
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                }

                .formA {
                    font-size: 0.9em;
                    margin-top: 5px;
                }
            }
            .h1main {
                margin-top: 80px;
                margin-bottom: 40px;
            }
        }
    }

    .buttonMain {
        display: flex;
        margin: auto;
        padding: 15px 30px;
        margin-top: 30px;
        margin-bottom: 10px;
        background-image: $color-button;

        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;

        &:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
        }
    }
}
#divOption2{
    display: none;
}