section{
    padding: 100px;

        h2{
            margin-bottom: 30px;
            font-size: 2.3em;
        }
        .divChange{
            display: flex;
            flex-direction: row;
            
            div{
                margin-right: 75px;
                margin-bottom: 30px;
                label{
                    font-size: 1.2em;
                    margin-right: 20px;
                }
                
            }
        }
        .divProfilEtat{
            display: flex;
            flex-direction: row;
            h3{
                margin-right: 15px;
            }
        } 


}

.sectionModifCV{
    padding-top: 0;
}