{% extends 'base.html.twig' %}

{% block title %}contact
{% endblock %}

{% block body %}
	<main>
      <section class="sectionContact">
        <h2 class="h2Contact">{% trans %}contact{% endtrans %}</h2>
        <ul>
          <li>Email : {{user.email}}</li>
          <li>Tel : {{user.telephone}}</li>
          <li>
            <a
              href="{{user.linkdin}}"
              target="_blank"
              >LinkdIn</a
            >
          </li>
          <li>
            <a
              href="{{user.github}}"
              target="_blank"
              >GitHub</a
            >
          </li>
        </ul>
      </section>

      <section>
        <!-- Formulaire avec php -->
      </section>
    </main>
{% endblock %}
