{% if messages is defined %}
	<h2 class="h2Contact">{% trans %}section.messageGet{% endtrans %} 
	</h2>
	{% for message in messages %}
		<div class="divMsg">
			<h3>{% trans %}section.sendTo{% endtrans %} {{ message.expediteur }}</h3>
			<p>{% trans %}section.message{% endtrans %} {{ message.message }}</p>
		</div>
	{% else %}
		<p class="no-data">{% trans %}nodate{% endtrans %}</p>
	{% endfor %}
{% endif %}
